<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7XGdV0IEvwmBg2PTwGOk7XbsA5qR-5c8</string>
	<key>GCM_SENDER_ID</key>
	<string>943911181329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.projectinstant</string>
	<key>PROJECT_ID</key>
	<string>mars-project-a4037</string>
	<key>STORAGE_BUCKET</key>
	<string>mars-project-a4037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943911181329:ios:8e57f82090a34485cde5b0</string>
</dict>
</plist>